@{
    ViewData["Title"] = "Admin system";
}
<div class="btn-group-lg">
    <a class="btn btn-primary" href="/Admin/Movies">Manage Movies</a>
    <a class="btn btn-primary" href="/Admin/Screenings">Manage Screenings</a>
    <a class="btn btn-primary" href="/Admin/Halls">Manage Halls</a>
</div>
