@model Hall
@{
    bool newhall = (bool)ViewData["NewHall"];
    ViewData["Title"] = "Hall management";
}

<form action="/Admin/UpdateHall" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">ID:</span>
        </div>
    @if (newhall)
    {
        <input type="text" class="form-control" name="Id" value="@Model.Id"/>
    }
    else
    {
        <input type="text" class="form-control"  name="Id" value="@Model.Id" readonly/>
    }
    </div>
    <br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Seats:</span>
        </div>
        <input type="number" name="Seats" value="@Model.Seats" />
    </div>
    <input type="submit" class="btn btn-success" value="@(newhall ? "Add Hall" : "Update Hall")" />
</form>
