@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form name="input" method="post">
    movie:
    <input type="text" name="name" size="52" disabled="disabled" />
    <br />
    <br />

    Time:
    <input type="text" name="time" size="53" disabled="disabled" />
    <br />
    <br />

    Price:
    <input type="text" name="price" size="53" disabled="disabled" />
    <br />
    <br />

    Seats:
    <input type="text" name="seats" size="53" disabled="disabled" />
    <br />
    <br />

    <input type="submit" value="submit" />
    <input type="reset" value="cancel" />
</form>