@{
    ViewData["Title"] = "Purchase Confirmation";
}
<div class="thanksPage">
    <h1 class="display-3">Thank you for your purchase.</h1><br/>
    The payment was successful.
    <hr>
    <p class="lead">
        <a class="btn btn-primary" href="/" role="button">Continue to Homepage</a>
    </p>
</div>
