@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="OrderTicket">
        <button class="Choose movie" style="border-left:1px solid #0d8bf2">
            <i class="fa fa-caret-down"></i>
        </button>
    </div>
</div>
