<html>
    <head>
        <title>Scheduler</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<style>
        .data_col {
            text-align: center;
        }   
	</style>
    </head>
    <body>
        <p>
            <table class="table">
                <thead>
                    <th scope="col">Hall</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wendesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                </thead>
                <tbody>
                    <tr id="flexboxes">
                        <td class="data_col" id="Hall">
                            <div>1</div><hr/>
                            <div>2</div><hr/>
                            <div>3</div><hr/>
                            <div>VIP1</div><hr/>
                            <div>VIP2</div><hr/>
                        </td>
                        <td class="data_col" id="Sunday">
                            <div>
                                1:00 -> 2:10 <br/>
                                x movie
                            </div><hr/>
                        </td>
                        <td class="data_col" id="Monday"></td>
                        <td class="data_col" id="Tuesday"></td>
                        <td class="data_col" id="Wendesday"></td>
                        <td class="data_col" id="Thursday"></td>
                        <td class="data_col" id="Friday"></td>
                        <td class="data_col" id="Saturday"></td>
                    </tr>
                </tbody>
            </table>
        </p>
    </body>
</html>